################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/.vs/PluginExample
/source/packages
/source/PluginExample.csproj.user
